/* .login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login img {
  margin: 30px auto;
  object-fit: contain;
  width: 200px;
}

.login_con {
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 20px;
}
.login_con form div input:hover {
  border: 2px solid lightblue;}
.login_con h1 {
  font-size: 25px;
  margin: 20px 0 30px 0;
}

.login_con form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login_con form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login_con form input {
  margin-bottom: 10px;
  padding: 12px 16px;
  background-color: white;
  width: 100%;
  border: 1px solid gray;
  border-radius: 3px;
}

.login_con form div input:focus {
  border: 2px solid skyblue;
  box-shadow: 0 0 5px skyblue;
  outline: none;
}

.login_signInButton {
  border: 1px solid #a88734;
  background-color: #f0c14b;
  border-radius: 5px;
  width: 100%;
  /* height: 30px; */
  /* margin: 10px 0; */
  /* padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}
.login_signInButton:hover {
  background-color: #ddb347;
}
.login_con p {
  padding: 10px 0px;
  font-size: 14px;

}
.login_creatAccount { 
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;

}
.login_creatAccount:hover {
  background-color: lightcoral;
} */ 


.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.login img {
  margin: 20px auto;
  width: 103px;
  object-fit: contain;
}

.login_con {
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px 26px;
  display: flex;
  flex-direction: column;
}

.login_con h1 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 14px;
}

.login_con label {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 2px;
}

.login_con div {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.login_con input {
  height: 31px;
  padding: 3px 7px;
  font-size: 13px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
}

.login_con input:hover {
  border-color: #949494;
}

.login_con input:focus {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
  outline: none;
}

.login_signInButton {
  background: linear-gradient(#f7dfa5, #f0c14b);
  border: 1px solid #a88734;
  border-radius: 3px;
  height: 31px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 13px;
}

.login_signInButton:hover {
  background: linear-gradient(#f5d78e, #eeb933);
}

.login_con p {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 14px;
  color: #555;
}

.login_creatAccount {
  height: 31px;
  border: 1px solid #a6a6a6;
  background: linear-gradient(#f7f8fa, #e7e9ec);
  font-size: 13px;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;

}

.login_creatAccount:hover {
  background: linear-gradient(#e7eaf0, #d9dce1);
}
