.category {
  width: 100%;
  max-width: 250px;
  /* height: auto; */
  height: 280px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

/* IMAGE */
.category img {
  width: 100%;
  max-height: 180px;
  object-fit: contain;
  /* padding: 10px; */
}

/* LINKS */
.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

/* TEXT */
.category h2 {
  padding: 5px;
  margin-left: 15px;
  font-size: 18px;
}

.category p {
  padding: 5px;
  margin-left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}

/* CONTAINER */
.category_container {
  position: relative;
  margin-top: -10%;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  max-width: 1600px;
  gap: 40px;

  align-items: stretch;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
}
