.category_card {
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    text-align: center;
  }
  
  .category_card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  
  .category_card h3 {
    margin-top: 10px;
    font-size: 16px;
  }
  