.payment_header {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  background-color: rgb(234, 237, 237);
}
.payment {
  padding: 30px;
}
.flex {
  display: flex;
  gap: 20px;
  padding: 30px;
}
.flex h3 {
  min-width: 300px;
}
.flex img {
  width: 80px !important;
}
.flex div {
  height: auto !important;
}
.payment_card_container {
  max-width: 350px;
  width: 100%;
}
.payment__details {
  font-size: 20px;
}
.payment_card_container {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.payment__price {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: stretch;
}

.payment__details button {
  width: 100%;
  border: 1px solid #a88734;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-radius: 3px;
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
}

.payment__details button:hover {
  background: linear-gradient(to bottom, #f5d78e, #eeb933);
}
.loading {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  color: rgb(52, 52, 52);
}
@media screen and (max-width: 768) {
  .flex {
    flex-direction: column;
  }
}
